body {
    background-color: #28536B;
}

p {
    color: #FF3864;
}

#paragraf {
    color: #BFDBF7;
}

a, span, div {
    background-color: #E0CA3C;
}

li > a {
    background-color: #44CF6C;
}

ul a {
    background-color: #151515;
}

h1 + p {
    color:pink;
}

ul#lista li:not(.last) {
    background-color: crimson;
}

ul#lista li:nth-child(3) {
    background-color: #87BBA2;
}

