body {
    background-color: #053C5E;
}

p {
    color: #FF3864;
}

#paragraf {
    color: #BFDBF7;
}

a, span, div {
    background-color: #E0CA3C;
}

li > a {
    background-color: #44CF6C;
}

ul a {
    background-color: #6C464E;
}