div {
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
}

div > h1 {
    font-size: 30px;
    color: blue;
    margin-bottom: 30px;
    font-weight: 800;
}

div > p > span {
    color: red;
}
