body {
    background: linear-gradient(-90deg, #FF3864, gold);
}

#pierwszy {
    background-color: #571845;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    
    position: absolute;
    top: 40px;
    left: 30px;
}

#drugi {
    background-color: #900C3E;
    width: 600px;
    height: 100px;
    
    position: absolute;
    top: 100px;
    left: 10s0px;
}

#trzeci {
    background-color: #1F5490;
    width: 200px;
    height: 200px;
}